<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
            <clear />
            <rule name="AngularJS Routes" enabled="true" stopProcessing="true">
                <match url="(.*)" />
                <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_URI}" pattern="\.png|\.css|\.jpg|\.js" negate="true" />
                </conditions>
                <action type="Rewrite" url="/a/index.html" appendQueryString="true" logRewrittenUrl="true" />
            </rule>
        </rules>
      </rewrite>
        <directoryBrowse enabled="false" />
    </system.webServer>
</configuration>